//nur codeinfo

<form>
  <fieldset>
    <ul>
      <li>
        <label>
          <input type="checkbox" name="interesse" value="theater" id="check1">Theater</label>
      </li>
      <li>
        <label>
          <input type="checkbox" name="interesse" value="musik" id="check2">Musik</label>
      </li>
      <li>
        <label>
          <input type="checkbox" name="interesse" value="party" id="check3">Party</label>
      </li>
      <li>
        <label>
          <input type="checkbox" name="interesse" value="sport" id="check4">Sport</label>
      </li>
    </ul>
  </fieldset>
</form>
