<!DOCTYPE HTML>
<html>
	<head>
		<title>Erste Schritte</title>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	</head>
	<body>
		<div>
			<div class="header">
				<a href="/"><img class="logo" src="images/Logo.png" alt="Logo"></a>
				<a href="/" class="header-text"><h1>Meet Your City</h1></a>
			</div>
			<div class="content">
				<a href="/profil">Profil</a>
				<a href="/start-login">Ausloggen</a>
			<div>
				<p> Schön, dass du da bist! </p>
				<p> Gib uns nähere angaben: </p>
			</div>
<!-- "Angabe Wohnort" -->
			<div>
<!--			<div class="dropdown">
						<button onclick="myFunction()" class="dropbtn">Wohnort</button>
						<div id="myDropdown" class="dropdown-content">
							<a href="#">Link 1</a>
							<a href="#">Link 2</a>
							<a href="#">Link 3</a>
									  </div>
									</div>-->
				<form>
					<label for="text">Wohnort</label>
					<input type="text" id="wohnort">
				</form>
			</div>
			<div>
				<p> Wofür interessierst du dich? </p>
			</div>
<!-- Chechboxen Interessen -->
			<div>
				<form>
					<fieldset>
						<ul>
							<li>
								<label>
									<input type="checkbox" name="interesse" value="theater" id="check1">Theater</label>
							</li>
							<li>
								<label>
									<input type="checkbox" name="interesse" value="musik" id="check2">Musik</label>
							</li>
							<li>
								<label>
									<input type="checkbox" name="interesse" value="party" id="check3">Party</label>
							</li>
							<li>
								<label>
									<input type="checkbox" name="interesse" value="sport" id="check4">Sport</label>
							</li>
						</ul>
					</fieldset>
				</form>
			</div>
			<div>
				<input type="submit" value="Fertig">
			</div>
			</div>
		</div>
	</body>
</html>

<!-- Headpart:
				Profilbutton
				Ausloggen

	"Schön, dass du da bist"
	"Gib uns nähere angaben:"

			Texteingabe: Wohnort

			"Wofür interessierst du dich?":
					Chechboxen zum Interessen auswählen
				-> Datenbank speicherung

 Button -> "Fertig" -> Führt zu Home-Seite -->
