<!DOCTYPE HTML>
<html>
	<head>
		<title>Erste Schritte</title>
	</head>
	<body>
		<div>

		</div>
	</body>
</html>

<!-- Headpart:
				Profilbutton
				Ausloggen

	"Schön, dass du da bist"
	"Gib uns nähere angaben:"

			Texteingabe: Wohnort

			"Wofür interessierst du dich?":
					Chechboxen zum Interessen auswählen
				-> Datenbank speicherung

 Button -> "Fertig" -> Führt zu Home-Seite -->
