<!DOCTYPE HTML>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	</head>
	<body>
		<div>
			<a href="/profil">Profil</a>
			<a href="/logout">Ausloggen</a>
			<div class="header">
				<a href="/"><img class="logo" src="images/Logo.png" alt="Logo"></a>
				<a href="/" class="header-text"><h1>Meet Your City</h1></a>
			</div>
			<a href="/neue_Veranstaltung">Neue Veranstaltung erstellen</a>
		</div>
		<div>
			<h1>Hier entsteht die Startseite</h1>
		</div>
		<div>
			<a href="/veranstaltung_unterseite">Hier steht eine Veranstaltung</a>
		</div>
	</body>
</html>

<!-- Header: Profilbutton, Ausloggenbutton, Event erstellen-Button

	"Events":
		- Markierte events
		- Eventvorschläge

	"Checkboxen zum filtern"
-->
