<!DOCTYPE HTML>
<html>
	<head>
		<title>Home</title>
	</head>
	<header>
		<a href="/profil">Profil</a>
		<a href="/start-login">Ausloggen</a>
	</header>

	<body>
		<div>
			<a href="/neue_Veranstaltung">Neue Veranstaltung erstellen</a>
		</div>
		
		<div>
			<h1>Hier entsteht die Startseite</h1>
		</div>

		<div>
			<a href="/veranstaltung_unterseite">Hier steht eine Veranstaltung</a>
		</div>
	</body>
</html>

<!-- Header: Profilbutton, Ausloggenbutton, Event erstellen-Button

	"Events":
		- Markierte events
		- Eventvorschläge

	"Checkboxen zum filtern"
-->
