<!DOCTYPE HTML>
<html>
	<head>
		<title>Home</title>
	</head>

	<body>

	</body>
</html>

<!-- Header: Profilbutton, Ausloggenbutton, Event erstellen-Button

	"Events":
		- Markierte events
		- Eventvorschläge

	"Checkboxen zum filtern"
-->
