<!DOCTYPE HTML>
<html>
    <head>
        <title>Login Fehler</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    </head>
    <body>
      <div>
        <div class="header">
          <a href="/home"><img class="logo" src="images/Logo.png" alt="Logo"></a>
          <a href="/home" class="header-text"><h1>Meet Your City</h1></a>
        </div>
        <div class="content">
          Oops, da ist etwas schief gelaufen.<br>
          Überprüfe bitte, ob Du den richtigen Benutzernamen <br>
          bzw. das richtige Passwort angegeben hast!
          <div style="margin-top: 20px;">
            <a href="/"><button>Zurück zur Startseite</button></a>
          </div>
        </div>
      </div>
    </body>
</html>
