<html>
    <head>
        <title>Fehler</title>
    </head>
    <body>
        Oops, da ist etwas schiefgelaufen. Versuche es nochmal!<br>
         <a href="/login">Neuer Versuch</a>
    </body>
</html>
