<!DOCTYPE HTML>
<html>
	<head>
		<title>Neue Veranstaltung erstellen</title>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	</head>
	<body>
		<div>
			<div class="header">
				<div>
					<a href="/"><img class="icons" src="images/Logo.png" alt="Logo"></a>
					<a href="/" class="header-text"><h1>Meet Your City</h1></a>
					<a href="/logout"><img class="icons header-right" src="images/Logout.png" alt="Logout" width="30px" height="30px"></a>
					<a href="/profil"><img class="icons header-right" src="images/Profil_minimal.png" alt="Profil" width="30px" height="30px"></a>
					<a href="/neue_Veranstaltung"><img class="icons header-right" src="images/NewEvent.png" alt="Neue Veranstaltung" width="30px" height="30px"></a>
				</div>
			</div>
			<div class="content">
			<div>
				<h1>Erstelle eine eigene Veranstaltung</h1>
			</div>
			<div>
				<h2>Lade ein Bild für deine Veranstaltung hoch: </h2>
				<form method="post" enctype="multipart/form-data">
					<label> Wählen Sie eine Bilddatei (*.png, *.jpg, etc.) von Ihrem Rechner aus.
					<input name="datei"
					type="file" size="50" accept="image/*"> </label>
				</form>
			</div>
			<div>
				<form>
					<label for="text">Name der Veranstaltung: </label>
					<input type="text" id="eventname" required>
					<label for="text">Ort der Veranstaltung: </label>
					<input type="text" id="eventlocation" required>
					<label for="date">Datum: </label>
					<input id="date" type="date" value="2018-11-01" required>
					<!-- Javascript:
					var dateControl = document.querySelector('input[type="date"]');
					dateControl.value = '2017-06-01';
					-->
					<label for="time">Uhrzeit: </label>
					<input id="time" type="time" name="time" value="15:00" required>
				</form>
			</div>
		<div>
			<input type="submit" value="Speichern" name="speichern">
		</div>
<!--
		Angeben:
		"Büld"
		"Name der Veranstaltung"
		"Datum, Uhrzeit, Ort"
		"Kurzbeschreibung"
		"Tag"

		Button: Speichern
		 -> Datenbank DB Events
-->
			</div>
		</div>
	</body>
</html>
