<!DOCTYPE HTML>
<html>
	<head>
		<title>Neue Veranstaltung erstellen</title>
	</head>
	<body>
		<div>
			<header>
<!-- "Profil-Button", "Ausloggen-Button"-->
				<button type="button" name="profil">Profil</button>
				<button type="button" name="Ausloggen">Logout</button>
			</header>
		</div>

		<div>
			<h1>Erstelle eine eigene Veranstaltung</h1>
		</div>
		<div>
			<h2>Lade ein Bild für deine Veranstaltung hoch: </h2>
			<form method="post" enctype="multipart/form-data">
					<label> Wählen Sie eine Bilddatei (*.png, *.jpg, etc.) von Ihrem Rechner aus.
					<input name="datei"
					type="file" size="50" accept="image/*"> </label>
				</form>
			</div>
			<div>
				<form>
					<label for="text">Name der Veranstaltung: </label>
					<input type="text" id="eventname">
					<label for="text">Name der Veranstaltung: </label>
					<input type="text" id="eventname">
					<label for="date">Datum: </label>
					<input id="date" type="date" value="2018-11-01">
					<!-- Javascript:
					var dateControl = document.querySelector('input[type="date"]');
					dateControl.value = '2017-06-01';
					-->
					<label for="time">Uhrzeit: </label>
					<input id="time" type="time" name="time" value="15:00">

				</form>
			</div>
		<div>
			<!--https://wiki.selfhtml.org/wiki/JavaScript/File_Upload-->
		</di>


<!--
		Angeben:
		"Büld"
		"Name der Veranstaltung"
		"Datum, Uhrzeit, Ort"
		"Kurzbeschreibung"
		"Tag"

		Button: Speichern
		 -> Datenbank DB Events
-->
	</body>
</html>
