<!DOCTYPE HTML>
<html>
	<head>
		<title>Neue Veranstaltung erstellen</title>
	</head>

	<body>
<!--
		Angeben:
		"Büld"
		"Name der Veranstaltung"
		"Datum, Uhrzeit, Ort"
		"Kurzbeschreibung"
		"Tag"

		Button: Speichern
		 -> Datenbank DB Events
-->
	</body>
</html>
