<!DOCTYPE HTML>
<html>
	<head>
		<title>Dein Profil</title>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	</head>
	<body>
		<div>
			<div class="header">
				<a href="/"><img class="logo" src="images/Logo.png" alt="Logo"></a>
				<a href="/" class="header-text"><h1>Meet Your City</h1></a>
			</div>
			<div class="content">
				<a href="/home">Startseite</a>
				<a href="/logout">Ausloggen</a>
				<h2> Platzhalter Profil </h2>
				<div>
					<img src="profil.jpg" alt="Profilbild">
				</div>
				<div>
					Benutzername: Anon
				</div>
				<div>
					Wohnort: Hamburg
				</div>
				<div>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br>
					incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <br>
					exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure <br>
				</div>
				<div>
					<a href="/profil_bearbeiten">Profil bearbeiten</a>
				</div>
			</div>
		</div>

<!--
	Bild

	Benutzername
	Wohnort
	Kurzbeschreibung
-->
	</body>
</html>
