<!DOCTYPE HTML>
<html>
	<head>
		<title>Profil bearbeiten</title>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	</head>
	<body>
		<div>
			<div class="header">
				<div>
					<a href="/"><img class="icons" src="images/Logo.png" alt="Logo"></a>
					<a href="/" class="header-text"><h1>Meet Your City</h1></a>
					<a href="/logout"><img class="icons header-right" src="images/Logout.png" alt="Logout" width="30px" height="30px"></a>
					<a href="/profil"><img class="icons header-right" src="images/Profil_minimal.png" alt="Profil" width="30px" height="30px"></a>
					<a href="/neue_Veranstaltung"><img class="icons header-right" src="images/NewEvent.png" alt="Neue Veranstaltung" width="30px" height="30px"></a>
				</div>
			</div>
			<div class="content">
				<form name="profil_bearbeiten" action="profil_bearbeiten" method="post">
					<h2>Zeig uns wie du aussiehst!</h2>
					<div>
					<label>
						<form method="post" enctype="multipart/form-data">
						<label> Wählen Sie eine Bilddatei (*.png, *.jpg, etc.) von Ihrem Rechner aus.
						<input name="datei" type="file" size="50" accept="image/*">
					</label>
				</div>
					<div>
						<label>Wohnort:
							<input id="wohnort" type="text" name="wohnort" required>
						</label>
						<label>Kurzbeschreibung:
							 <input id="info" type="text" name="info">
						</label>
						<div>
							<input type="submit" value="speichern" />
						</div>
					</form>
				</div>
		</div>
	</div>
	</body>
</html>
