<!DOCTYPE HTML>
<html>
	<head>
		<title>Profil bearbeiten</title>
	</head>

	<body>
<!--
	"Bild hochladen - button"

	Eingabe: Benutzername
	Eingabe: Wohnort
	Eingabe: Kurzbeschreibung
-->
	</body>
</html>
