<!DOCTYPE HTML>
<html>
	<head>
		<title>Profil bearbeiten</title>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	</head>
	<body>
		<div>
			<div class="header">
				<a href="/"><img class="logo" src="images/Logo.png" alt="Logo"></a>
				<a href="/" class="header-text"><h1>Meet Your City</h1></a>
			</div>
			<div class="content">
				<a href="/home">Startseite</a>
				<a href="/profil">Profil</a>
				<a href="/logout">Ausloggen</a>
				<h2>Zeig uns wie du aussiehst!</h2>
				<form method="post" enctype="multipart/form-data">
					<label> Wählen Sie eine Bilddatei (*.png, *.jpg, etc.) von Ihrem Rechner aus.
					<input name="datei"
					type="file" size="50" accept="text/*"> </label>
				</form>
			<div>
				<form>
					<label for="text">Benutzername: </label>
					<input type="text" id="username">
				</form>
				<form>
					<label for="text">Wohnort: </label>
					<input type="text" id="wohnort">
				</form>
				<form>
					<label for="text">Kurzbeschreibung: </label>
					<input type="text" id="info">
				</form>
			</div>
			<div>
				<input type="submit" value="speichern" name="Speichern">
			</div>
		</div>
	</div>
<!--
	"Bild hochladen - button"

	Eingabe: Benutzername
	Eingabe: Wohnort
	Eingabe: Kurzbeschreibung
-->
	</body>
</html>
