<!DOCTYPE HTML>
<html>
	<head>
		<title>Dein Profil</title>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	</head>
	<body>
		<div>
			<div class="header">
				<div>
					<a href="/"><img class="icons" src="images/Logo.png" alt="Logo"></a>
					<a href="/" class="header-text"><h1>Meet Your City</h1></a>
					<a href="/logout"><img class="icons header-right" src="images/Logout.png" alt="Logout" width="30px" height="30px"></a>
					<a href="/profil"><img class="icons header-right" src="images/Profil_minimal.png" alt="Profil" width="30px" height="30px"></a>
					<a href="/neue_Veranstaltung"><img class="icons header-right" src="images/NewEvent.png" alt="Neue Veranstaltung" width="30px" height="30px"></a>
				</div>
			</div>
			<div class="content">
				<h2> Dein Profil </h2>
				<div>
					Benutzername: <%= user%>
				</div>
				<div>
					E-Mail: <%= email%>
				</div>
				<div>
					Wohnort: <%= location%>
				</div>
				<div>
						Kurzbeschreibung: <%= info%>
				</div>
				<div>
					<a href="/profil_bearbeiten">Profil bearbeiten</a>
				</div>
			</div>
		</div>

<!--
	Bild

	Benutzername
	Wohnort
	Kurzbeschreibung
-->
	</body>
</html>
