<!DOCTYPE HTML>
<html>
	<head>
		<title>Dein Profil</title>
	</head>

	<header>
		<a href="/home">Startseite</a>
		<a href="/start-login">Ausloggen</a>
	</header>

	<body>
		<h2> Platzhalter Profil </h2>
		<div>
			<img src="profil.jpg" alt="Profilbild">
		</div>

		<div>
			Benutzername: Anon
		</div>
		<div>
			Wohnort: Hamburg
		</div>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br>
			incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <br>
			exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure <br>
		</div>

		<div>
			<a href="/profil_bearbeiten">Profil bearbeiten</a>
		</div>

<!--
	Bild

	Benutzername
	Wohnort
	Kurzbeschreibung
-->
	</body>
</html>
