<!DOCTYPE HTML>
<html>
	<head>
		<title>Registrierung</title>
	</head>

	<body>
		<form action="registrierung" method="post">
		<p>
			<label>Bemutzername:
				<input id="name" type="name" name="user">
			</label>
		</p>
		<p>
			<label>Passwort:
				<input type="password" name="password">
			</label>
		</p>
		<p>
			<label>E-Mail:
				<input type="email" id="contact_email">
			</label>
		</p>

			<div>
				<a href="/erste_schritte">Registrieren</a>
			</div>
		</form>
	</body>
</html>
