<!DOCTYPE HTML>
<html>
	<head>
		<title>Registrierung</title>
	</head>

	<body>
		<form action="registrierung" method="post">
		<p>
			<label>Bemutzername:
				<input id="name" type="name" name="username">
			</label>
		</p>
		<p>
			<label>Passwort:
				<input type="password" name="password">
			</label>
		</p>
		<p>
			<label>E-Mail:
				<input type="email" name="email" id="contact_email">
			</label>
		</p>

			<div>
				<input type="submit" value="Absenden" />
			</div>
		</form>
	</body>
</html>
