<!DOCTYPE HTML>
<html>
	<head>
		<title>Registrierung</title>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	</head>
	<body>
		<div>
			<div class="header">
				<a href="/"><img class="logo" src="images/Logo.png" alt="Logo"></a>
				<a href="/" class="header-text"><h1>Meet Your City</h1></a>
			</div>
			<div class="content">
				<form action="registrierung" method="post">
					<p>
						<label>Benutzername:
							<input id="name" type="name" name="username" required>
						</label>
					</p>
					<p>
						<label>Passwort:
							<input type="password" name="password" required>
						</label>
					</p>
					<p>
						<label>E-Mail:
							<input type="email" name="email" id="contact_email" required>
						</label>
					</p>
					<p>
						<label>Wohnort:
							<input id="wohnort" type="wohnort" name="wohnort" required>
						</label>
					</p>
					<div>
						<input type="submit" value="Absenden" />
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
