<!DOCTYPE HTML>
<html>
	<head>
		<title>Registrierung</title>
	</head>

	<body>
		<form action="registrierung" method="post">
			Benutzername: <input type="text" name="user"> <br>
			Passwort: <input type="password" name="password"> <br>
			E-mail: <input type="email" id="contact_email"><br>

			<input type="submit" value="Registrierung" name="submit">
		</form>
	</body>
</html>
