<!DOCTYPE HTML>
<html>
	<head>
		<title>Registrierung</title>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	</head>
	<body>
		<div>
			<div class="header">
				<a href="/start-login" class="tooltip"><img class="icons" src="images/Logo.png" alt="Logo"><span class="tooltiptext">Zur Startseite</span></a>
				<a href="/start-login" class="tooltip header-text"><h1>Meet Your City</h1><span class="tooltiptext">Zur Startseite</span></a>
			</div>
			<div class="content">
				<form action="registrierung" method="post">
					<p>
						<label>Benutzername:
							<input id="name" type="name" name="username" placeholder="Name (erforderlich)" required>
						</label>
					</p>
					<p>
						<label>Passwort:
							<input type="password" name="password" placeholder="Passwort (erforderlich)" required>
						</label>
					</p>
					<p>
						<label>E-Mail:
							<input type="email" name="email" id="contact_email" placeholder="E-Mail (erforderlich)" required>
						</label>
					</p>
					<p>
						<label> Wohnort:
						<select name="wohnort">
								<option value="Hamburg-Mitte"> Hamburg-Mitte </option>
								<option value="Altona">  Altona </option>
								<option value="Eimsbüttel"> Eimsbüttel </option>
								<option value="Hamburg-Nord"> Hamburg-Nord </option>
								<option value="Wandsbek"> Wandsbek </option>
								<option value="Bergedorf"> Bergedorf </option>
								<option value="Harburg"> Harburg </option>
						</select>
					</label>
					</p>
					<div>
						<button type="submit">Absenden</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
