<!DOCTYPE HTML>
<html>
	<head>
		<title>Meet your City</title>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	</head>
	<body>
		<div>
			<div class="header">
				<a href="/start-login" class="tooltip"><img class="icons" src="images/Logo.png" alt="Logo"><span class="tooltiptext">Zur Startseite</span></a>
				<a href="/start-login" class="tooltip header-text"><h1>Meet Your City</h1><span class="tooltiptext">Zur Startseite</span></a>
			</div>
			<div>
				<div class="slide">
						<img src="images/slide5.jpeg" alt="Slide5">
						<img src="images/slide6.jpeg" alt="Slide6">
						<img src="images/slide7.jpeg" alt="Slide7">
						<img src="images/slide8.jpg" alt="Slide8">
						<img src="images/slide5.jpeg" alt="Slide5">
						<div class="slidetext content">
							<h3>Lerne Deine Stadt kennen!</h3>
							<p>Erstelle Dir einen Account und plane deine Events</p>
							<a href="/registrierung"><button>Hier Registrieren</button></a>
							<br>
						</div>
					</div>
			</div>
			<div class="content">
	 			<h3> Bist Du schon registriert? Log dich hier ein:</h3>
				<form action="sendLogin" method="post">
					<div>
						Benutzername: <input type="text" name="username">
					</div>
					<br>
					<div>
						Passwort: <input type="password" name="password">
					</div>
					<br>
					<div>
						<button type="submit">Login</button>
					</div>
				</form>
			</div>
			<div class="contentfooter">
				<div>
					<p>Nina Paartz | Joseffa Steuernagel | Friederike Fröhlich | Angewandte Programmierung | WiSe 18/19</p>
				</div>
			</div>
		</div>
	</body>
</html>
