<!DOCTYPE HTML>
<html>
	<head>
		<title>Meet your City</title>
	</head>
	<body>
		<div>
			<h1>Willkommen bei Meet Your City</h1>
		</div>
		<div>
			
		</div>
		<form action="anmelden" method="post">
			Benutzername oder E-mail: <input type="text" name="user"> <br>
			Passwort: <input type="password" name="password"> <br>

			<input type="submit" value="Anmelden" name="submit">
			<input type="submit" value="Registrieren" name="submit">
		</form>
	</body>
</html>
