<!DOCTYPE HTML>
<html>
	<head>
		<title>Meet your City</title>
	</head>
	<body>
		<div>
			<h1>Willkommen bei Meet Your City</h1>
		</div>
		<div>
			<!-- Headpart: Oberer Teil der Website mit Logo, Schriftzug etc.

				Willkommens-Nachricht */
		</div>
		<input type="submit" value="Registrieren" name="submit">

		/* Text: Hast du schon einen Account? Log dich hier ein: /*-->

		<form action="anmelden" method="post">
			Benutzername oder E-mail: <input type="text" name="user"> <br>
			Passwort: <input type="password" name="password"> <br>

			<input type="submit" value="Anmelden" name="submit">
		</form>
	</body>
</html>
