<!DOCTYPE HTML>
<html>
	<head>
		<title>Meet your City</title>
	</head>
	<body>
		<div>
			<h1>Willkommen bei Meet Your City</h1>
		</div>

			<!-- Headpart: Oberer Teil der Website mit Logo, Schriftzug etc.
			<form>
			<input class="MyButton" type="button" value="Your Text Here" onclick="window.location.href='http://www.hyperlinkcode.com/button-links.php'" />
			</form>
				Willkommens-Nachricht -->
		<h3>Lerne hier deine Stadt kennen!</h3>

		<a href="/registrierung">Registrieren</a>

	 <h3> Hast du schon einen Account? Log dich hier ein: </h3>

		<form action="anmelden" method="post">
			Benutzername oder E-mail: <input type="text" name="user"> <br>
			Passwort: <input type="password" name="password"> <br>
		</form>
		
	<div>
		<a href="/home">Anmelden</a>
	</div>

	</body>
</html>
