<!DOCTYPE HTML>
<html>
	<head>
		<title>Veranstaltung</title>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	</head>
	<body>
		<div>
			<div class="header">
				<a href="/"><img class="logo" src="images/Logo.png" alt="Logo"></a>
				<a href="/" class="header-text"><h1>Meet Your City</h1></a>
			</div>
			<div class="content">
				<a href="/home">Startseite</a>
				<a href="/profil">Profil</a>
				<a href="/start-login">Ausloggen</a>
			<div>
				<a href="/neue_Veranstaltung">Erstelle eine Veranstaltung</a>
			</div>
			<h1> Hier entsteht die Veranstaltungs-Unterseite</h1>
			</div>
		</div>
 <!--
 			"Büld"
			"Name der Veranstaltung"
 			"Datum, Uhrzeit, Ort"
			"Kurzbeschreibung"
			"Tag"

			Button: Zusage, Absage, Merken -> Datenbank
		-->
	</body>
</html>
