<!DOCTYPE HTML>
<html>
	<head>
		<title>Veranstaltung</title>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	</head>
	<body>
		<div>
			<div class="header">
				<div>
					<a href="/"><img class="icons" src="images/Logo.png" alt="Logo"></a>
					<a href="/" class="header-text"><h1>Meet Your City</h1></a>
					<a href="/logout"><img class="icons header-right" src="images/Logout.png" alt="Logout" width="30px" height="30px"></a>
					<a href="/profil"><img class="icons header-right" src="images/Profil_minimal.png" alt="Profil" width="30px" height="30px"></a>
					<a href="/neue_Veranstaltung"><img class="icons header-right" src="images/NewEvent.png" alt="Neue Veranstaltung" width="30px" height="30px"></a>
				</div>
			</div>
			<div class="content">
<<<<<<< HEAD
				<div>
					<a href="/neue_Veranstaltung">Erstelle eine Veranstaltung</a>
				</div>
				<h1> Hier entsteht die Veranstaltungs-Unterseite</h1>
=======
				<a href="/home">Startseite</a>
				<a href="/profil">Profil</a>
				<a href="/logout">Ausloggen</a>
			<div>
				<a href="/neue_Veranstaltung">Erstelle eine Veranstaltung</a>
			</div>
			<h1> Hier entsteht die Veranstaltungs-Unterseite</h1>
>>>>>>> e2c5ca7d6ffcf77699c05f238e9a6c09981d2306
			</div>
		</div>
 <!--
 			"Büld"
			"Name der Veranstaltung"
 			"Datum, Uhrzeit, Ort"
			"Kurzbeschreibung"
			"Tag"

			Button: Zusage, Absage, Merken -> Datenbank
		-->
	</body>
</html>
