<!DOCTYPE HTML>
<html>
	<head>
		<title>Veranstaltung</title>
	</head>

	<body>
		<div>
			<header>
<!-- "Profil-Button", "Ausloggen-Button"-->
				<button type="button" name="profil">Profil</button>
				<button type="button" name="Ausloggen">Logout</button>
			</header>
		</div>

		<h1> Hier entsteht die Veranstaltungs-Unterseite</h1>
 <!--
 			"Büld"
			"Name der Veranstaltung"
 			"Datum, Uhrzeit, Ort"
			"Kurzbeschreibung"
			"Tag"

			Button: Zusage, Absage, Merken -> Datenbank
		-->
	</body>
</html>
