<!DOCTYPE HTML>
<html>
	<head>
		<title>Veranstaltung</title>
	</head>

	<body>
		<div>
			<header>
<!-- "Profil-Button", "Ausloggen-Button"-->
				<a href="/home">Startseite</a>
				<a href="/profil">Profil</a>
				<a href="/start-login">Ausloggen</a>
			</header>
		</div>

		<div>
			<a href="/neue_Veranstaltung">Erstelle eine Veranstaltung</a>
		</div>

		<h1> Hier entsteht die Veranstaltungs-Unterseite</h1>
 <!--
 			"Büld"
			"Name der Veranstaltung"
 			"Datum, Uhrzeit, Ort"
			"Kurzbeschreibung"
			"Tag"

			Button: Zusage, Absage, Merken -> Datenbank
		-->
	</body>
</html>
