<!DOCTYPE HTML>
<html>
	<head>
		<title>Veranstaltung</title>
	</head>

	<body>
 <!--
 			"Büld"
			"Name der Veranstaltung"
 			"Datum, Uhrzeit, Ort"
			"Kurzbeschreibung"
			"Tag"

			Button: Zusage, Absage, Merken -> Datenbank
		-->
	</body>
</html>
